* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', 'Arial', Helvetica, sans-serif;
  font-size: 1.2em;
  font-weight: 200;
  line-height: 1.5;
  color: #fff;
  overflow-x: hidden;
}

.v-header {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/*.container {
  text-align: center;
  max-width: 960px;
  margin: auto;
  padding: 0 1.5rem;
}*/

.fullscreen-video-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.fullscreen-video-wrap video {
  display: block;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.header-overlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background: #225470;
  opacity: 0.5;
  z-index: 1;
}

.header-content {
  z-index: 1;
  padding: 0 1.5rem;
}


.section {
  padding: 20px 0;
}

.section-a {
  color: #111;
  background: #f4f4f4;
}

.section-b {
  color: #333;
  background: aliceblue;
}

.section-c {
  background: #fff;
  color: #111;
}

@media (max-width: 600px) {
  .header-content {
    margin-top: -30vh;
  }

  .btn {
    display: block;
  }

  .fullscreen-video-wrap video {
    width: 50%;
  }
}
